{% extends 'base.html.twig' %}

{% block title %}La marche scolidaire - Livre d'or{% endblock %}

{% block section %}
    <!--/ Intro Single star /-->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="title-single-box">
                        <h1 class="title-single">Livre d'or</h1>
                        <span class="color-text-a">Laissez-nous un petit mot...</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Intro Single End /-->

    <!--/ Agent Single Star /-->
    <section class="agent-single" id="guestbook">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-12 section-md-t3">
                            <div class="agent-info-box">
                                <div class="agent-content mb-3">
                                    <p class="content-d color-text-a">
                                        🚨  Coming very very soon...  🚨
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


