{% extends 'base.html.twig' %}

{% block title %}La marche scolidaire - Livre d'or{% endblock %}

{% block section %}
    <!--/ Intro Single star /-->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="title-single-box">
                        <h1 class="title-single">Livre d'or</h1>
                        <a class="btn btn-sm btn-success" href="{{ path('guestbook_post') }}"><i class="fas fa-thumbtack mr-1"></i> Poster un petit mot</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Intro Single End /-->

    <!--/ Agent Single Star /-->
    <section class="agent-single" id="guestbook">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-12 section-md-t3-guestbook">
                            <div id="guestbook-carousel" class="owl-carousel">
                                {% for post in allpost %}
                                    {% if post.checked %}
                                        <!-- CAROUSEL ITEM -->
                                        <div class="item shadow-lg">
                                            <div class="p-4 bg-white rounded">
                                                <img src="https://annedece.sirv.com/Images/earth.png" alt="">
                                                <div class="commo pt-3">
                                                    <img src="{{ asset('img/quote.png') }}" alt="">
                                                </div>
                                                <p class="mb-4 text-muted">
                                                    {{ post.message }}
                                                </p>
                                                <hr>
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <h6 class="m-0 float-left font-weight-bold" style="color: #2eca6a;">
                                                            {{ post.author }}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--END OF CAROUSEL ITEM -->
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


