.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    justify-content: center;
    grid-gap: 5px;
    border-radius: 5px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
}

.img-container {
    position: relative;
}

img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay {
    background-color: rgba(0, 0, 0, .8);
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.img-container:hover img {
    opacity: 0.3;
}

.img-container:hover .overlay {
    opacity: 1;
}


