{% extends 'admin/admin_base.html.twig' %}

{% block title %}La Marche Scolidaire | Admin | Images{% endblock %}

{% block content %}

    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Ajout d'image(s) à la gallerie</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="agent-single">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {{ include('admin/image_gallery/_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
