{% extends 'base.html.twig' %}

{% block title %}La marche scolidaire - Jour 3 (Court-Saint-Etienne > Sart-Dames-Avelines){% endblock %}

{% block section %}
    <!--/ Intro Single star /-->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="title-single-box">
                        <h1 class="title-single">Court-Saint-Etienne > Sart-Dames-Avelines</h1>
                        <span class="color-text-a">Jour 3 - Samedi 7 Mai 2022</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="property-single nav-arrow-b">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <iframe frameBorder="no" scrolling="no" src="https://fr.wikiloc.com/wikiloc/spatialArtifacts.do?event=view&id=77071971&measures=off&title=off&near=off&images=off&maptype=m" width="100%" height="600"></iframe><div style="color:#777;font-size:11px;line-height:16px;">Powered by <a style="color:#06d;font-size:11px;line-height:16px;" target="_blank" href="https://fr.wikiloc.com">Wikiloc</a></div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 d-flex align-items-start mt-5">
                        <div class="property-price d-flex justify-content-center foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico">
                                    <span class="ion-money">Km</span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h5 class="title-c">24.75</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 w-100">
                    <div class="col-md-12 col-lg-12">
                        <table class="table table-striped table-success">
                        <thead>
                            <tr>
                            <th scope="col">Km</th>
                            <th scope="col">Ecole</th>
                            <th scope="col">Dist. Etape</th>
                            <th scope="col">Temps Etape</th>
                            <th scope="col">Pause Etape</th>
                            <th scope="col">Arrivée</th>
                            <th scope="col">Départ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">0.0</th>
                                <td>Court-Saint-Etienne | Collège Saint-Etienne</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>10h00</td>
                            </tr>
                            <tr>
                                <th scope="row">6.10</th>
                                <td>Bousval | Ecole Sainte-Marie</td>
                                <td>6.10 Km</td>
                                <td>1h21</td>
                                <td>10 Min</td>
                                <td>11h21</td>
                                <td>11h31</td>
                            </tr>
                            <tr>
                                <th scope="row">11.30</th>
                                <td>Genappe | Ecole Saint-Jean</td>
                                <td>5.20 Km</td>
                                <td>1h09</td>
                                <td>10 Min</td>
                                <td>12h40</td>
                                <td>12h50</td>
                            </tr>
                            <tr>
                                <th scope="row">15.50</th>
                                <td>Loupoigne | Ecole du Petit chemin</td>
                                <td>4.20 Km</td>
                                <td>0h56</td>
                                <td>10 Min</td>
                                <td>13h46</td>
                                <td>13h56</td>
                            </tr>
                            <tr>
                                <th scope="row">24.75</th>
                                <td>Sart-Dames-Avelines | Ecole Saint-Nicolas</td>
                                <td>9.25 Km</td>
                                <td>2h04</td>
                                <td>-</td>
                                <td>16h00</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
