{% extends 'base.html.twig' %}

{% block title %}La marche scolidaire - Galerie Photos{% endblock %}

{% block section %}
    <!--/ Intro Single star /-->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="title-single-box">
                        <h1 class="title-single">Galeries Photos</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Intro Single End /-->

    <!--/ Agent Single Star /-->
    <section class="agent-single" id="photos">
        <div class="container">
            {% for gallery in galeries %}
                <h2 class="title-single m-3">{{ gallery.title }}</h2>
                    <div class="container-sm">
                        <div class="row justify-content-center">
                            <div class="col col-md-10">
                                <div class="gallery-container d-flex align-items-center justify-content-center" id="front-gallery">
                                    {% for image in gallery.pictures %}
                                        <a data-lg-size="1600-1067" class="front-gallery-item" data-src="{{ asset('/uploads/images/galleryItems/' ~ image.name) }}">
                                            <img alt="" class="img-fluid" src="{{ asset('/uploads/images/galleryItems/' ~ image.name) }}" />
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </section>


{% endblock %}

