{% extends 'base.html.twig' %}

{% block title %}La marche scolidaire - Galerie Photos{% endblock %}

{% block section %}
    <!--/ Intro Single star /-->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="title-single-box">
                        <h1 class="title-single">Galerie Photos</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Intro Single End /-->

    <!--/ Agent Single Star /-->
    <section class="agent-single" id="photos">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-12 section-md-t3">
                            <div class="agent-info-box">
                                <div class="agent-content mb-3">
                                    <div id="imageGallery">
                                            <a href="{{ asset('img/logo-bw3.png') }}" data-lg-size="1600-2400">
                                                <img alt=".." src="{{ asset('img/logo-b-travel.png') }}" />
                                            </a>
                                            <a href="{{ asset('img/4-directeurs-mer.jpg') }}" data-lg-size="1024-800">
                                                <img alt=".." src="{{ asset('img/4-directeurs-mer.jpg') }}" />
                                            </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
